{% extends 'base.html' %}

{% block content %}
    <h1>Cadastrar Aluno</h1>
    <form method="post">
        {% csrf_token %}
        <label>Nome:</label><input type="text" name="nome" required><br>
        <label>Data de Nascimento:</label><input type="date" name="data_nascimento" required><br>
        <label>Matrícula:</label><input type="text" name="matricula" required><br>
        <label>Email:</label><input type="email" name="email" required><br>
        <label>Telefone:</label><input type="text" name="telefone" required><br>
        <label>Escola:</label>
        <select name="escola" required>
            {% for escola in escolas %}
                <option value="{{ escola.id }}">{{ escola.nome }}</option>
            {% endfor %}
        </select><br><br>
        <button type="submit">Salvar</button>
    </form>
</form>
{% endblock %}
