
{% extends 'base.html' %}
{% block content %}

        <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                    Alterar Aluno
                </h2>
            </div>
        </div>
        <div class="aluno form">
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                {% if erros %}
                    <div id="error_explanation" class="panel panel-danger mensagem-erro-cabecalho">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ erros|length }} erro(s) ao salvar:</h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                {% for key, error in erros.items %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-lg-6 form-group">
                        <label for="id_nome" class="control-label required">Nome</label>
                        <input type="text" name="nome" id="id_nome" class="form-control" required value="{{ val.nome }}">
                    </div>
                    <div class="col-lg-3 form-group">
                        <label for="id_data_nascimento" class="control-label required">Data de Nascimento</label>
                        <input type="date" name="data_nascimento" id="id_data_nascimento" class="form-control" required value="{{ val.data_nascimento }}">
                    </div>
                    <div class="col-lg-3 form-group">
                        <label for="id_matricula" class="control-label required">Matrícula</label>
                        <input type="text" name="matricula" id="id_matricula" class="form-control" required value="{{ val.matricula }}">
                    </div>
                    <div class="col-lg-4 form-group">
                        <label for="id_email" class="control-label required">Email</label>
                        <input type="email" name="email" id="id_email" class="form-control" required value="{{ val.email }}">
                    </div>
                    <div class="col-lg-3 form-group">
                        <label for="id_telefone" class="control-label required">Telefone</label>
                        <input type="text" name="telefone" id="id_telefone" class="form-control" required value="{{ val.telefone }}">
                    </div>
                    <div class="col-lg-4 form-group">
                        <label for="id_senha" class="control-label required">Senha</label>
                        <input type="password" name="senha" id="id_senha" class="form-control">
                    </div>
                    <div class="col-lg-6 form-group">
                        <label for="id_escola" class="control-label required">Escola</label>
                        <select name="escola" id="id_escola" class="form-control" required>
                            <option value="">Selecionar</option>
                            {% for escola in escolas %}
                                <option value="{{ escola.id }}" {% if val.escola_id == escola.id|stringformat:"s" %}selected{% endif %}>{{ escola.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 form-group">
                        <button type="submit" class="btn btn-primary colorprimarybtn" data-disable-with="Salvando">Salvar</button>
                    </div>
                    <div class="col-lg-3 form-group">
                        <a href="{% url 'lista_alunos' %}" class="btn btn-primary colorprimarybtn">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}